input{
    box-shadow: 0px 0px 5px 1px grey;
    background-color: #007BFF;
    color: rgb(71, 71, 71);
    font-size: 20px;
    font-weight: bold;
}
input:hover{
    box-shadow: 0px 0px 10px 1px grey;
}
.input-group{
    border:1px solid rgb(66, 66, 66);
    margin-top: 50px;
    box-shadow: 0px 0px 10px 2px #a1a1a1;
}
img{
    margin-top: 50px;
    background-size: contain;
    width: 690px;
    right:50px;
    position: relative;
}
.fixed-both{
    width: 600px;
    margin: auto;
    position: relative;
}
.alert-info{
    position: relative;
    margin: auto;
    width:600px;
}
#main {
    transition: margin-left .5s;
    padding: 16px;
    padding-top:10vh ;
  }