<div><img src="../../../assets/login.svg" alt="login"></div>
<div class="div-login-form">
<div class="form">
  <div class="alert alert-primary center" role="alert">
     LOGIN
  </div>
  <form #login="ngForm">
  <div class="form-group">
    <label for="email">Email address</label>
    <input name="email" required type="email" class="form-control" [(ngModel)]="loginData.email" id="email" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input name="password" required type="password" class="form-control" [(ngModel)]="loginData.password" id="password">
  </div>
  <small id="error" class="form-text center text-muted">welcome to the secure portal.</small>
  <p></p>
  <button type="button" *ngIf="disable" [disabled]="login.valid" class="btn btn-primary btn-block" (click)="verifyData()">Login</button>
  <button type="button" *ngIf="failureAttempt" disabled class="btn btn-primary btn-block" (click)="verifyData()">Login</button>
  <div class="center"><a  href="" routerLink="register">Not a user? Click here to get registered.</a></div>
  </form>
  <p></p>
  <div *ngIf="failureAttempt" class="alert alert-danger" role="alert">
    Time Left : {{timeDI}}
  </div>
<div>
</div>