.div-login-form
{
    width: 500px;
    position: relative;
    margin: auto;
    padding-top:100px ;
}
img{
    position: fixed;
    margin-top:7vh ;
    height: 80vh;
    background-attachment: fixed;
    left:3%;
}
.form{
    position: relative;
    margin-top:5vw ;
    left: 50%;
    background-color: white;
    z-index: 2;
}
.div-login-form .form{
    box-shadow: 0px 0px 5px 1px #444444;
    padding: 20px 20px;
}
.center{
    text-align: center;
}
.form-control,.alert,.btn{
    border-radius:0px;
}
@media only screen and (max-width: 600px) {
    img{
        display: none;
    }
    .form{
        left:auto;
        margin: auto 20px;
    }
  }