<app-home-layout></app-home-layout>
<div id="main">
<div class="container">
  
<div class="div-login-form">
<form #EditCurrentUser="ngForm" >
  <div class="alert alert-primary center" role="alert">
     EDIT YOUR CREDENTIALS
  </div>

  <div class="form-group">
    <label for="email">Email address</label>
    <input required type="email" name="email" class="form-control" [(ngModel)]="placeholder.email" placeholder="Email" id="email">
  </div>

  <div class="form-group">
    <div class="row">
        <div class="col">
            <label for="user-id">User ID</label>
            <input required type="text" name="userid" class="form-control" [(ngModel)]="placeholder.userID" placeholder="User Id" id="user-id">
        </div>
        <div class="col">
            <label for="name">Name</label>
            <input required type="text" name="name" class="form-control" [(ngModel)]="placeholder.name" placeholder="Name" id="name">
        </div>
    </div>
    </div>
  
  <div class="form-group">
    <label for="phone">Phone no.</label>
    <input type="tel" class="form-control" min="10" max="10" name="phone" [(ngModel)]="placeholder.phone" placeholder="Enter your phone no." id="phone">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <div class="row">
    <div class="col">
      <input required id="password" name="password" type="password" class="form-control" [(ngModel)]="placeholder.password" placeholder="Password">
    </div>
    <div class="col">
      <input required id="cPassword" name="cpassword" type="password" class="form-control" [(ngModel)]="cPassword" placeholder="Confirm Password">
    </div>
  </div>
  </div>
    <div class="form-check form-check-inline">
        <input required class="form-check-input" id="1" type="radio" [(ngModel)]="placeholder.option" name="radio-op" value="Read">
        <label class="form-check-label" for="1">Read</label>
    </div>
    <div class="form-check form-check-inline">
        <input required class="form-check-input" id="2" type="radio" [(ngModel)]="placeholder.option" name="radio-op" value="Normal">
        <label class="form-check-label" for="2">Normal</label>
    </div>
    <div class="form-check form-check-inline">
        <input required class="form-check-input" id="3" type="radio" [(ngModel)]="placeholder.option" name="radio-op" value="Sudo-User">
        <label class="form-check-label" for="3">Sudo-User</label>
    </div>
    <p></p>
  <button [disabled]="!EditCurrentUser.valid" type="button" class="btn btn-primary btn-block" (click)="checkDetails()" >Save</button>
</form>
</div>
</div>
</div>