<app-home-layout></app-home-layout>
<div id="main">
<div class="container">
<div style="margin-top:50px">
<button type="button" (click)="release()" class="btn btn-outline-dark">Release Threads</button> |
<button type="button" (click)="assignToSelf()" class="btn btn-outline-dark">Assign To Self</button><span> | </span>
<button type="button" (click)="assignToOthers()" class="btn btn-outline-dark" data-toggle="modal" data-target="#assignToOthers">Assign To Others</button>  
</div>
<p></p>
<table class="table" id="myTable">
  <thead class="thead-dark">
    <tr>
      <th scope="col">SELECT</th>
      <th scope="col">TASK ID</th>
      <th scope="col">DESCRIPTION</th>
      <th scope="col">ACTIVE STATUS</th>
      <th scope="col">OWNER</th>
      <th scope="col">OPERATION</th>
    </tr>
  </thead>
  <tbody>
    <tr class="tupple-user" *ngFor="let task of tasks" >
      <td scope="row" style="padding:18px"><input type="checkbox" id="{{task.id}}" value="option1"></td>
      <td>{{task.id}}</td>
      <td>{{task.description}}</td>
      <td>{{task.status}}</td>
      <td>{{task.owner}}</td>
      <td><button (click)="placeHolder(task.id)" type="button" data-toggle="modal" data-target="#placeholderForTaskDetails" data-toggle="modal" class="btn btn-info" >OPEN</button></td>
    </tr>
  </tbody>
</table>

</div>
</div>

<div class="modal fade" id="assignToOthers" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Assign tasks To a member:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="select_member">Select among users</label>
        <select [ngModel] = "selectedOp" class="form-control" id="select_member">
          <option  *ngFor="let user of users" value="{{user.id}}">{{user.name}}, {{user.userid}}</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="submit_assigned_task()" class="btn btn-primary">Assign</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="placeholderForTaskDetails" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Assign tasks To a member:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label for="id"><strong>TaskID:</strong></label>
            <input type="text" readonly class="form-control" id="id" value="{{selectedTask.id}}">
        </div>
        <div class="form-group">
            <label for="sDescription"><strong>Description:</strong></label>
            <input type="text" readonly class="form-control" id="sDescription" value="{{selectedTask.description}}">
        </div>
        <div class="form-group">
            <label for="status"><strong>Status:</strong></label>
            <input type="text" readonly class="form-control" id="status" value="{{selectedTask.status}}">
        </div>
        <div class="form-group">
            <label for="Owner"><strong>Owner:</strong></label>
            <input type="text" readonly class="form-control" id="Owner" value="{{selectedTask.owner}}">
        </div>
        <div class="form-group">
            <label for="Type"><strong>Type:</strong></label>
            <input type="text" readonly class="form-control" id="Type" value="{{selectedTask.type}}">
        </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>