<div class="container">
<input id="myInput" style="margin-top:50px" (keyup)="myFunction($event)" type="text" class="form-control" placeholder="Search about user from table content..." >
<p></p>
<table class="table" id="myTable">
  <thead class="thead-dark">
    <tr>
      <th (click)="sortTable(0)" scope="col">USER ID</th>
      <th (click)="sortTable(1)" scope="col">USER NAME</th>
      <th (click)="sortTable(2)" scope="col">EMAIL</th>
      <th (click)="sortTable(3)" scope="col">PHONE NO.</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of fetchedUsers">
      <td scope="row">{{user.userid}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
    </tr>
  </tbody>
</table>
<hr>
<div class="footer">
  <button type="button" (click)="exportCSV()" class="btn btn-dark">EXPORT / DOWNLOAD CSV</button>
</div>
</div>