.div-login-form
{
    width: 500px;
    position: relative;
    margin: auto;
    padding-top:100px ;
}
.div-login-form .form{
    box-shadow: 0px 0px 5px 1px #444444;
    padding: 20px 20px;
}
.center{
    text-align: center;
}
.form-control,.alert,.btn{
    border-radius: 0px;
}
img{
    position: fixed;
    margin-top:15vh ;
    height: 50vh;
    left:3%;
    background-attachment: fixed;
}
.form{
    position: relative;
    right:-60%;
    background-color: white;
    z-index: 2;
}
input.ng-valid{
    border-left: 5px solid #42a948;
}
input.ng-invalid{
    border-left: 5px solid #aa2513;
}
@media only screen and (max-width: 600px) {
    img{
       display: none;
    }
    .form{
        right:auto;
        margin: auto 20px;
    }
  }