<nav class="navbar navbar-light bg-primary fixed-top">
  <a class="mb-0 h1 navbar-brand" (click)="openNav()">☰ Menu</a>
  <span class="name-header">Hey, Welcome {{name}} | <small>[{{perm}}]</small></span>
</nav>
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
  <a routerLink="/dashboard/list" >List Users</a>
  <a routerLink="/dashboard/edit" >Edit Users</a>
  <a routerLink="/dashboard/import" >Import Data</a>
  <a (click)="GetOutBro()" >Logout</a>
</div>